<!DOCTYPE html>
<html>
  <head>
    <title> Ranquo </title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
    <style>
      
      
    </style>
  </head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Ranquo</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    
  </div><!-- /.container-fluid -->
</nav>
  <body>
    <form id="buttons" action="/list" method="POST">
      <input type="radio" name="list" value="movies">
      <h1 class="quote">Movies</h1>
      <input type="radio" name="list" value="funny">
      <h1 class="quote">Funny</h1>
      <input type="radio" name="list" value="inspirational">
      <h1 class="quote">Inspirational</h1>
      <input type="radio" name="list" value="song">
      <h1 class="quote">Song</h1>
      <input type="radio" name="list" value="our">
      <h1 class="quote">Our</h1>
      <input type="radio" name="list" value="random">
      <h1 class="quote">Random</h1>
      <button type="submit">Generate Random Quote</button>
    </form>
  </body>
</html>